#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.home-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  text-align: center;
}

.link {
  text-decoration: none;
  font-size: 18px;
}

.link:hover {
  text-decoration: underline;
}

.nav-links {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.separator {
  pointer-events: none;
  user-select: none;
}